
.heart {
   z-index : 999;
   position : absolute;
}
.heart:before,
.heart:after {
   content : "";
   background-color : #fc2a62;
   position : absolute;
   height : 30px;
   width : 45px;
   border-radius : 15px 0px 0px 15px;
}
.heart:before {
   transform : rotate(45deg);
}
.heart:after {
   left : 10.5px;
   transform : rotate(135deg);
}

@keyframes heartfade {
   0% {
    opacity : 1;
   }
   50% {
    opacity : 0;
   }
}

.heart {
   z-index : 999;
   animation : heartfade 6s linear;
   position : absolute;
}

@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

body {
    margin: 0px;
}

#container {
    position: absolute;
    margin: auto;
    width: 100vw;
    height: 80pt;
    top: 0;
    bottom: 0;

    filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
    position: absolute;
    width: 100%;
    display: inline-block;

    font-family: "Raleway", sans-serif;
    font-size: 80pt;

    text-align: center;

    user-select: none;
}



/* CSS */
.button-1 {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  left:45%;
  top: 130%;
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}


.cauhoi{
  /* height: 70px; */
  line-height: 70px;
  text-align: center;
  background-color: #ffb2b2;
  width: 1000px;
  margin: auto;
  font-size: 40px;
  line-height: 2em;
  margin: auto
}



/* CSS */
.button-1 {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  left: 30%;
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}


.button-1 {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: 500;
  height: 60px;
  width: 90px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  left:25%;
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}

.nhap{
  margin: auto;
}

.cauhoi{
  /* height: 70px; */
  line-height: 70px;
  text-align: center;
  background-color: #ffb2b2;
  width: 1000px;
  margin: auto;
  font-size: 40px;
  line-height: 2em;
  margin: auto
}



/* CSS */
.button-2 {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: 500;
  height: 60px;
  width: 130px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  left: 57%;
}

.button-2:hover,
.button-2:focus {
  background-color: #F082AC;
}

.space{
  height: 100px;
}

/* CSS */

/* CSS */
.button-0 {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: 500;
  height: 60px;
  width: 90;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-0:hover,
.button-0:focus {
  background-color: #F082AC;
}


.click1{
  text-align: center;
}


.luyen{
  margin: auto;
}

.button-3 {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: 500;
  height: 70px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  /* left:45%;
  top: 130%; */
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

.button-3:hover,
.button-3:focus {
  background-color: #F082AC;
}
